{% extends 'base.html' %}
{% if is_tables_active %}
{% block title %}
Таблица {{model.name_plural}}
{% endblock %}
{% block table_body %}
<h1 class="text-center mt-5">Таблица {{model.name_plural}}</h1>
{% if level == 3 %}
<div class="alert alert-success p-1 mt-2" role="alert">
    <button id="create_btn" class="btn alert-link d-flex align-items-center">
        <img src="/static/images/{{'light' if is_light_theme else 'dark'}}/plus_icon_success.png" alt="plus" width="30"
            class="mx-2 my-0">
        <h4 class="my-0">
            Добавить новую запись
        </h4>
    </button>
</div>
{% endif %}
<!-- <div class="d-flex flex-row"> -->
    <table class="table table-striped table-hover caption-top mt-3">
        <thead>
            <tr>
                {% for col_name in model.data[0].keys() %}
                <th scope="col">{{col_name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in model.data %}
            <tr>
                {% for key, value in row.items() %}
                {% if key in model.fk_fields.keys() %}
                <th><a href="{{model.fk_fields[key]}}/{{value}}/">{{value}}</a></th>
                {% else %}
                <th>{{value}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <div class="d-flex flex-column justify-content-end">
        {% for row in model.data %}
        {% if enable_deletes %}
        <button id="delete_{{row[model.id_field_name]}}_btn" class="btn btn-danger">
            <img src="/static/images/{{'light' if is_light_theme else 'dark'}}/trash_bin.png" alt="trash_bin"
                width="30">
        </button>
        {% endif %}

        {% endfor %}
    </div>
</div> -->
{% endblock %}
{% block script %}
<script>
    const btn = document.getElementById('create_btn');

    btn.onclick = event => {
        window.location.href = `${window.location.href}create`;
    }
</script>
{% endblock %}
{% else %}
{% block accounting_body %}
<div>Hello accounting</div>
{% endblock %}
{% endif %}