<div class="container mx-5 border-end border-secondary-subtle" style="width: 10%">
    <ul class="nav nav-underline mx-auto mb-2 mb-lg-0 d-flex flex-column justify-content-around align-items-start sticky-top" style="height: 50vh; top:25%">
        <li class="nav-item">
            <a class="nav-link py-0 {{'active fs-5' if is_cars_active}}" aria-current="page"
                href="{{ '../'*(level-1) if level is defined else '' }}../table/cars">Машины</a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 {{'active fs-5' if is_make_models_active}}" aria-current="page"
                href="{{ '../'*(level-1) if level is defined else '' }}../table/make_models">Марки-модели</a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 {{'active fs-5' if is_orders_active}}"
                href="{{ '../'*(level-1) if level is defined else '' }}../table/orders">Заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 {{'active fs-5' if is_owners_active}}" aria-current="page"
                href="{{ '../'*(level-1) if level is defined else '' }}../table/owners">Владельцы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 {{'active fs-5' if is_work_types_active}}" aria-current="page"
                href="{{ '../'*(level-1) if level is defined else '' }}../table/work_types">Типы работ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 {{'active fs-5' if is_works_in_order_active}}" aria-current="page"
                href="{{ '../'*(level-1) if level is defined else '' }}../table/works_in_order">Работы в заказе</a>
        </li>
    </ul>
</div>